<header>
  <nav>
    <ul>
      <li>
        <a href="javascript:void(0)">
          <button mat-button>Compra</button>
        </a>
        <ul>
          <a routerLink="/compra"><button mat-button>Proyectos</button></a>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)">
          <button mat-button>Venta</button>
        </a>
        <ul>
          <li><a routerLink="/venta"><button mat-button>Estadísticas</button></a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>


